{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Chercher un produit{% endblock %}

{% block content %}

<header id="product-header" class="masthead text-center text-white d-flex">
    <div id="products-list">
        <div id="products-list-head" style="padding: 50px;">
            <h1>Mentions légales</h1>
            <p>Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy.</p>
            <p>Le logo et les images présents sur ce site sont l'œuvre et la proprité de Colette Tatou et Rémy.</p>
            <p>Site Django réalisé par Gino Ladowitch, dans le cadre du parcours <em>Développeur d'application Python</em> de <a href="https://openclassrooms.com" target="_blank">Openclassroom</a></p>
            <p>Site hébergé par <a href="https://.heroku.com/" target="_blank">Heroku</a></p>
        </div>
    </div>
</header>


{% endblock %}