{% extends "base.html" %}
{% load openfood_products_tags %}

{% block title %}Recherche sur OFF{% endblock %}

{% block content %}

<h2>Recherche sur OFF</h2>
<p>user_search : {{ user_search }}</p>

<ul>
    {% for product in products %}
    {% comment %} <li>{{ product['product_name'] }}({{ product['grade'] }})</li> {% endcomment %}
    <li>
        {{product|keyvalue:'product_name'}}({{product|keyvalue:'grade'}} - {{product|keyvalue:'barcode'}})<br>
        {{product|keyvalue:'categories'}}
    </li>
    {% comment %} <li>{{ product|citation }}</li> {% endcomment %}
    {% endfor %}
</ul>


{% endblock %}