<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Pur Beurre - Manger mieux !{% endblock %}</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/jquery-ui.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static '/css/jquery-ui.structure.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static '/css/jquery-ui.theme.min.css' %}" type="text/css" media="all" />
  </head>
  <body>
    <div id="page">
      {% block login %}
        <div id="account">
          {% if user.is_authenticated %}
            <p>Bonjour {{ user.username }} ! (<a href="{% url 'log_out' %}">se déconnecter</a>)</p>
          {% else %}
            <p><a href="{% url 'registration' %}">Créer un compte</a> | <a href="{% url 'log_in' %}">Se connecter</a></p>
          {% endif %}
        </div>
      {% endblock %}

      {% block menu %}
      <nav>
        <ul>
          <li><a href="{% url 'admin:index' %}">Administration</a></li>
          <li><a href="{% url 'product_substitutes' pk=123 %}">Substitutes to 123</a></li>
          <li><a href="{% url 'ramdom_product' %}">Random sample</a></li>
          <li><a href="{% url 'search_product' %}">Chercher un substitut</a></li>
          {% comment %} <li><a href="{% url 'favorites' %}">Mes favoris</a></li> {% endcomment %}
          <li><a href="{% url 'log_in' %}">Me connecter</a></li>
          <li><a href="{% url 'registration' %}">Créer un compte</a></li>
          <li><a href="{% url 'user_favorites' %}">Mes favoris</a></li>
          <li><a href="{% url 'add_to_favorites' pk=123 %}">Test ajout de favori</a></li>
        </ul>
      </nav>
      {% endblock %}

      <div id="content">
        <h1>Du gras oui, mais de qualité !</h1>
      {% block content %}
      <div id="story">
        <h2>Colette & Rémi</h2>
        <p>Nous sommes une jeune startup fondée par Remy et Colette Tatou, deux restaurateurs de renom. Notre restaurant, situé à Montmartre (Paris), compte une cinquantaine de couverts et ne désemplit pas. Notre spécialité, la ratatouille, nous attire une clientèle internationale charmée par les délices de ce plat typique.</p>
        <p>Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !). Travaillant quotidiennement avec les meilleurs produits du terroir, ils affectionnent particulièrement la bonne chaire et aiment partager leur passion. Il est donc normal que Remy ait sauté au plafond quand Colette, un jour de déprime, sortit du placard un kilo de Nutella et l’attaqua à la petite cuillère. Pourquoi ne pas opter pour une pâte à tartiner aux noisettes, plus consistante et moins sucrée ? Pourquoi, oh pourquoi s’infliger une telle souffrance ? Rémy était sidéré. La réponse de Colette fut simple : elle n’avait pas trouvé de substitut assez convainquant. A vrai dire, elle n’avait même pas cherché.</p>
        <p>Tous deux se souvinrent alors que nombre de leurs clients leur avaient compté, entre deux verres, qu’il était difficile de trouver des substituts aux cochonneries que nous mangions dès le petit déjeuner. Pourquoi ne pas lancer une plateforme web en ce sens ? Voici votre mission !</p>
      </div>
      {% endblock %}
      </div>
    </div>
  </body>
<script src="{% static '/js/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
<script src="{% static '/js/jquery-ui.min.js' %}" type="text/javascript"></script>
<script  src="{% static '/js/main.js' %}"></script>
<script type="text/javascript">
  $('.favorite-remove').click(function(){
  var product_id;
  product_id = $(this).attr("product_id");
  console.log("product_id: " + product_id);
  var favorite = $(this).closest('.favorite');
  console.log(favorite);
  $.ajax(
  {
      type:"GET",
      url: "http://127.0.0.1:8000/mon-espace/remove-product/" + product_id + "/",
      success: function() {
        console.log("Deleted!");
        favorite.remove();
      }
   })
});
</script>
</html>
