{% extends "base.html" %}

{% block title %}Chercher un produit{% endblock %}

{% block content %}

<h2>Trouvez un produit de subsitution pour ce que vous consommez tous les jours</h2>
<!-- class="ui-widget" -->
<form class="ui-widget" action="{% url 'search_product' %}" method="post">
    {% csrf_token %}
    
    {{ form.as_p }}

    {% comment %}<input id="product-search" />{% endcomment %}
    <input type="submit" value="Submit" />
</form>
<br>
<p>(Your search was: "{{ search }}")</p>
<br>
<h2>First product matching:</h2>
<p>{{ result }} (grade {{ result.grade|upper }})</p>
<ul>
    {% comment %}{% for product in result %}{% endcomment %}
    {% comment %}<li>{{ product }} (grade {{ product|upper }})</li>{% endcomment %}
    {% comment %}{% endfor %}{% endcomment %}
</ul>
<h2>Substitute:</h2>
{% endblock %}