{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<p>{{ product.product_name }}</p>
<p>Grade : {{ product.grade|upper }}</p>

<br>
<p>substitutes :</p>
<br>
{% if substitutes %}
    <ul>
        {% for substitute in substitutes %}
        <li>{{ substitute.product_name }} ({{ substitute.grade|upper }}) <a href="{% url 'add_to_favorites' pk=substitute.pk %}">Add to favs</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun produit trouvé</p>
{% endif %}

<p>Ce résultat{{ user_search }} est-il satisfaisant ? Sinon je peux chercher sur Open Food Facts...</p>
<a href="">Rechercher sur OFF</a>

{% endblock %}