{% extends "base.html" %}

{% block title %}Mes favoris{% endblock %}

{% block content %}
<h1>Mes favoris</h1>


<div id="favorites">
    <p>{{ response }} {{ product.product_name }}</p>
    <p>To be deleted : {{ to_delete }} {{ to_delete.barcode }}</p>
    {% for favorite in favorites %}
        <div class="favorite">
            <p>{{ favorite.product_name }}, (grade {{ favorite.grade }})</p>
            <p>Marque : {{ favorite.brand }}</p>
            <p>Magasin : {{ favorite.store }}</p>
            <img src={{ favorite.product_img_url }} alt="" title="" />
            <img src={{ favorite.nutrition_img_url }} alt="" title="" />
            <p><a href={{ favorite.url }} target="_blank">> Voir le produit sur OFF</a></p>
            <br>
            <p><a href="{% url 'remove_from_favorites' pk=favorite.pk %}">Delete {{ favorite.id }}</a></p>
            <p><button class="favorite-remove" product_id={{ favorite.id }}>Remove {{ favorite.id }} from favorite</button></p>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $('.favorite-remove').click(function(){
  var product_id;
  product_id = $(this).attr("product_id");
  console.log("product_id: " + product_id);
  var favorite = $(this).closest('.favorite');
  console.log(favorite);
  $.ajax(
  {
      type:"GET",
      url: "http://127.0.0.1:8000/mon-espace/remove-product/" + product_id + "/",
      success: function() {
        console.log("Deleted!");
        favorite.remove();
      }
   })
});
</script>
{% endblock extra_js %}