{% extends "base.html" %}

{% block title %}Mes favoris{% endblock %}

{% block content %}
<h1>Mes favoris</h1>


<div id="favorites">
    <p>{{ response }} {{ product.product_name }}</p>
    <p>To be deleted : {{ to_delete }} {{ to_delete.barcode }}</p>
    {% for favorite in favorites %}
        <div class="favorite">
            <p>{{ favorite.product_name }}, (grade {{ favorite.grade }})</p>
            <p>Marque : {{ favorite.brand }}</p>
            <p>Magasin : {{ favorite.store }}</p>
            <img src={{ favorite.product_img_url }} alt="" title="" />
            <img src={{ favorite.nutrition_img_url }} alt="" title="" />
            <p><a href={{ favorite.url }} target="_blank">> Voir le produit sur OFF</a></p>
            <br>
            <p><a href="{% url 'remove_from_favorites' pk=favorite.pk %}">Delete {{ favorite.id }}</a></p>

        </div>
        <!-- product_name = models.CharField(max_length=255)
    grade = models.CharField(max_length=1)
    url = models.CharField(max_length=255)
    barcode = models.CharField(max_length=13)
    brand = models.CharField(max_length=30)
    store = models.CharField(max_length=30)
    categories = models.ManyToManyField(Category, null=True)
    product_img_url = models.CharField(max_length=255, null=True)
    nutrition_img_url = models.CharField(max_length=255, null=True) -->
    {% endfor %}
</div>

{% endblock %}