{% extends "base.html" %}

{% block title %}Créer un compte{% endblock %}

{% block content %}


{% if error %}
<p><strong>Erreur queque part...</strong></p>
{% endif %}



<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div id="home-search-block" class="row">
            <div class="col-lg-10 mx-auto">
            {% if user.is_authenticated %}
                <h1>Bonjour {{ user.username }} !</h1>
            {% else %}
                <h1 class="text-uppercase"><strong>Connexion</strong></h1>
                <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Créer un compte" />
            </form>
            {% endif %}
            <hr>
            </div>
        </div>
    </div>
</header>

{% endblock %}




{% comment %}
{% if user.is_authenticated %}
    <p>Bonjour {{ user.username }} !</p>

{% else %}
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Créer un compte" />
    </form>
{% endif %}{% endcomment %}

